@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
/*font-family: 'Inter', sans-serif;*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --pregresso: 360deg;
    --modePause_color: rgb(245, 158, 11);
    --modeFoco_color: rgb(132, 204, 22);
    --modePausaLonga_color: rgb(6, 182, 212);
}

body{
    background-color: rgb(24, 24, 27);
    color: white;
}

header{
    width: 60%;

    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 50vh;
    margin-top: -380px;
    left: 23px;

}
    header h1{
        font-size: 40px;
    }
    header h2{
        font-size: 20px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.55);
    }

.main{
    display: flex;
    gap: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h4{
    font-weight: 500;
}
h3{
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.676);
}
p{
    color: rgba(255, 255, 255, 0.55);
}

.section_clock, .section_tasks{
    width:  49vw;
    height: 600px;

    border: 2px solid rgba(128, 128, 128, 0.158);
    border-radius: 15px;
}

/*-----------Section clock-----------*/

    .section_clock{
        padding: 25px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        
    }
        .header_clock{
            height: 70px;

            position: relative;
            top: -30px;

            border-bottom: 1px solid rgba(255, 255, 255, 0.321);
        }

    .div_CM{
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -35px;
    }
    .current_mode{
        width: 90px;
        height: 40px;
        
        position: relative;
        padding: 7px;

        
        background-color: rgb(35, 43, 26);/*rgb(47, 38, 25) pausa mode background color*/
        background-image: url("data:image/svg+xml,%3Csvg stroke='rgb(132, 204, 22)' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M15.5 13a3.5 3.5 0 0 0 -3.5 3.5v1a3.5 3.5 0 0 0 7 0v-1.8'%3E%3C/path%3E%3Cpath d='M8.5 13a3.5 3.5 0 0 1 3.5 3.5v1a3.5 3.5 0 0 1 -7 0v-1.8'%3E%3C/path%3E%3Cpath d='M17.5 16a3.5 3.5 0 0 0 0 -7h-.5'%3E%3C/path%3E%3Cpath d='M19 9.3v-2.8a3.5 3.5 0 0 0 -7 0'%3E%3C/path%3E%3Cpath d='M6.5 16a3.5 3.5 0 0 1 0 -7h.5'%3E%3C/path%3E%3Cpath d='M5 9.3v-2.8a3.5 3.5 0 0 1 7 0v10'%3E%3C/path%3E%3C/svg%3E");
        border: 2px solid var(--modeFoco_color);
        border-radius: 6px;
        background-size: 24px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 5px;
    }
        .current_mode #foco_mode_CM, #foco_mode_NM{
            display: block;

            margin-left: 30px;

            font-weight: 700;
            color: var(--modeFoco_color); 
        }
    
        .current_mode #pausa_mode_CM, #pausa_mode_NM{
            display: none;

            margin-left: 27px;

            font-weight: 700;
            color: var(--modePause_color); 
        }

        .current_mode #pausaLonga_mode_CM, #pausaLonga_mode_NM{
            display: none;

            margin-left: 30px;

            font-weight: 700;
            color: var(--modePausaLonga_color); 
        }
    #foco_mode_NM{
        display: none;
    }
    #pausa_mode_NM{
        display: block;
    }

    .div_NM{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .next_mode_text{
        width: 90px;
        height: 40px;
        
        position: relative;
        padding: 7px;

        border: 2px solid var(--modePause_color);
        background-color: rgb(47, 38, 25);
        background-image: url("data:image/svg+xml,%3Csvg stroke='rgb(245, 158, 11)' fill='none' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M3 14c.83 .642 2.077 1.017 3.5 1c1.423 .017 2.67 -.358 3.5 -1c.83 -.642 2.077 -1.017 3.5 -1c1.423 -.017 2.67 .358 3.5 1'%3E%3C/path%3E%3Cpath d='M8 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2'%3E%3C/path%3E%3Cpath d='M12 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2'%3E%3C/path%3E%3Cpath d='M3 10h14v5a6 6 0 0 1 -6 6h-2a6 6 0 0 1 -6 -6v-5z'%3E%3C/path%3E%3Cpath d='M16.746 16.726a3 3 0 1 0 .252 -5.555'%3E%3C/path%3E%3C/svg%3E");

        border-radius: 6px;
        background-size: 24px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 5px;
    }

    /* Clock */

    .clock_container{
        width: 100%;
        height: 250px;

        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;
    }

    .progress{
        width: 230px;
        height: 230px;

        display: flex;
        justify-content: center;
        position: relative;

        background: conic-gradient(var(--modeFoco_color) var(--pregresso), rgb(35, 35, 38) 0deg);
        border-radius: 50%;
    }
    .clock{
        width: 205px;
        height: 205px;

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: rgb(24, 24, 27);
        border-radius: 50%;
    }
        h5{
            font-size: 50px;
            font-weight: 600;
        }

        .clock_container:hover #play, 
        .clock_container:hover #pausar,
        .clock_container:hover #reset,
        .clock_container:hover #next_mode_inp
        {
            display: block; 
        }

        #play, #pausar, #next_mode_inp, #reset{
            display: none;
            
            width: 70px;
            height: 70px;

            position: absolute;


            cursor: pointer;
            border-radius: 10px;
            border: none;
            opacity: 0.9;
            background-size: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgb(63, 63, 70);
        }

        #next_mode_inp{
            display: none;

            width: 60px;
            height: 60px;

            margin-left: 140px;
            background-size: 40px;
        }

        #reset{
            display: none;
            
            width: 60px;
            height: 60px;

            margin-right: 140px;
            background-size: 35px;
        }

        #next_mode_inp{
            background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='white' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z'%3E%3C/path%3E%3C/svg%3E");
        }

        #play{
            background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='white' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M8 5v14l11-7z'%3E%3C/path%3E%3C/svg%3E");
            z-index: 1;
        }

        #pausar{
            background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='white' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M6 19h4V5H6v14zm8-14v14h4V5h-4z'%3E%3C/path%3E%3C/svg%3E");            
            z-index: 0;
            opacity: 0;
        }

        #reset{
            background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='white' stroke-width='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M17.65 6.35A7.958 7.958 0 0012 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0112 18c-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z'%3E%3C/path%3E%3C/svg%3E");
        }

        #play:active, #pausar:active, #next_mode_inp:active, #reset:active{
            transform: scale(1.1);
        }


/*-----------Section tasks-----------*/

.section_tasks{
    padding: 25px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}

.header_tasks{
    height: 70px;

    position: relative;
    top: -17px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.321);
}
.tarefa{
    width: 45vw;
    height: 400px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    overflow-x: hidden;
    overflow-y: scroll;
}
    .tarefa::-webkit-scrollbar {
        width: 7px;
    }
    .tarefa::-webkit-scrollbar-thumb {
        width: 7px;
        background: rgb(39, 39, 42);
        border-radius: 10px;
    }

    .tarefa label{
        display: flex;
        user-select:none;
    }
    .tarefa span{
        width: 100%;
        position: relative;
        text-align: center;
        top: 50%;
        opacity: 0.2;
        
    }

    .checkbox{
        height: 20px;
        min-width: 20px;
        padding: 2px;
        
        position: relative;
        top: 2px;
        margin-right: 10px;

        appearance: none;
        background-color: rgb(39, 39, 42);
        border: 1px solid rgb(63, 63, 70);
        border-radius: 5px;
    }
    .checkbox:checked {
        padding: 2px;
        background-color: rgb(132, 204, 22);
    }
    .tarefa label p{
        word-wrap: break-word;
        width: 70%;
    }

    .deleteTask{
        min-width: 15px;
        height: 26px;

        position: relative;
        right: -22%;

        font-size: 18px;
        background: none;
        border: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cg id='_01_align_center' data-name='01 align center'%3E%3Cpath d='M22,4H17V2a2,2,0,0,0-2-2H9A2,2,0,0,0,7,2V4H2V6H4V21a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V6h2ZM9,2h6V4H9Zm9,19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V6H18Z'/%3E%3Crect x='9' y='10' width='2' height='8'/%3E%3Crect x='13' y='10' width='2' height='8'/%3E%3C/g%3E%3C/svg%3E");    ;
        filter: invert(42%) sepia(100%) saturate(8022%) hue-rotate(360deg) brightness(119%) contrast(119%);/*change the svg color*/
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .deleteTask:active{
        transform: scale(1.2);
    }

.task_input{
    display: flex;
}
    
.input_task{
    width: 38vw;
    height: 30px;

    text-indent: 10px;
    color: white;
    background-color: rgb(39, 39, 42);
    border: none;
    border-radius: 4px;
}
.confirm_task{
    width: 90px;
    height: 30px;

    margin-left: 10px;
    padding: 5px;

    color: rgb(3, 3, 3);
    background-color: var(--modeFoco_color);
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.confirm_task:active{
    transform: scale(1.1);
}